.top__container {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.main__logo {
  margin-left: 0; }

.main__nav_box {
  margin-right: 0; }

.main__header {
  height: 345px; }
  .main__header p {
    margin: 0 25px; }
  .main__header br {
    display: none; }

.sec__thumbnails {
  padding: 50px 0; }

.card__thumbnail {
  min-width: 280px;
  width: 30%; }

.card__img p {
  font-size: 2rem;
  font-weight: 700; }

.card__btns {
  padding-bottom: 0px; }

.footer__container {
  padding: 50px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer__container p {
    text-align: center; }
  .footer__container a {
    margin-top: 25px; }
